[Unit]
Description=Dante SOCKS Server
After=syslog.target
After=multi-user.target

[Service]
ExecStart=/usr/sbin/sockd -f /etc/sockd.conf
Type=simple
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
