# From: https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.socket
[Unit]
Description=Docker Socket for the API
PartOf=docker.service

[Socket]
ListenStream=/var/run/docker.sock
SocketMode=0660
User=root
Group=docker

[Install]
WantedBy=sockets.target
